# Python builds

*.egg-info
*.pyc
build
dist
.venv
venv

# Editors

.project
.pydevproject
.settings
.spyderproject
.vscode

# OS stuff

.DS_Store
*~

# debugging images
tools/dependency_graph/dependency_graph
tools/dependency_graph/dependency_graph.png

# チュートリアル時の作成物
openfisca_japan/parameters/チュートリアル
openfisca_japan/tests/チュートリアル
openfisca_japan/variables/チュートリアル

# simulationサンプル
simulation