/*要素のフォントサイズやマージン・パディングをリセットしています*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}



body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: hidden; /* 縦方向のスクロールを無効にする */
}


.container {
    background-image:url(../images/pc_bg.png);
    background-size: cover;
    background-position: top center; /* 上部中央に配置 */
    width: 100%;
    height: 100%; /* 画像が画面の80%を覆うようにする */
    min-height: 100%; /* 最小高さを20%に設定 */
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 auto;
    overflow: scroll;
  }

.topbar{
    width: 100%;
    height: 90px;
    background-color: #10AEB9;
    position: fixed;
    top: 0%;
    background:rgba(16,174,185,0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right_button{
  border-radius: 100vh;
  padding: 10px 30px;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-decoration: none;
  margin-right: 20px;
  cursor: pointer;
  z-index: 100;
}

.main{
  margin-top: 100px;
  display: flex;
}

.left{
  width: 60%;
  height: auto;
  margin-bottom: 10px;
}

.center{
  width: 600px;
  height: auto;
  margin-bottom: 10px;
  text-align: center;
}

.right{
  width: 16%;
  height: auto;
  margin-bottom: 10px;
}

.btn--orange,
a.btn--orange {
  color: #000;
  background-color: #F9FD2F;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #000;
  background: #F9FD2F;
  opacity: 80%;
}

a.btn--radius {
    border-radius: 100vh;
    padding: 15px 60px;
    margin-top: 20px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-decoration: none;
    cursor: pointer;
    
}

.article{
  display: flex;
  justify-content:  space-around;
  align-items: flex-start;
}

.red{
  width: 25%;
  height: 40dvw;
  margin-top: 0;
}

.red_circle{
  background-color: #FFF;
  border-radius: 50%;
  width: 23dvw;
  height: 23dvw;
  border: solid 1dvw #FFBDBD;
  box-shadow: 2px 2px 4px -2px gray
}

.red_title{
  text-align: center;
  font-size: 2vw;
  height: 1.7em;
  color: #E96565;
  font-weight: bold;
}

.red_check{
  margin-right: 5px;
  filter: brightness(0) saturate(100%) invert(73%) sepia(71%) saturate(3968%) hue-rotate(317deg) brightness(91%) contrast(102%);
}

.red_description{
  font-size: 1.5vw;
  line-height: 2;
}


.green{
  width: 25%;
  height: 40dvw;
  top: 0;
}

.green_circle{
  background-color: #FFF;
  border-radius: 50%;
  width: 23dvw;
  height: 23dvw;
  border: solid 1dvw #A6E6B4;
  box-shadow: 2px 2px 4px -2px gray
}

.blue{
  width: 25%;
  height: 40dvw;
  top: 0;
}

.blue_circle{
  background-color: #FFF;
  border-radius: 50%;
  width: 23dvw;
  height: 23dvw;
  border: solid 1dvw #BAE1F2;
  box-shadow: 2px 2px 4px -2px gray
}



@media only screen and (max-width: 834px) {
    .container {
        background-image:url(../images/ipad_bg.png); /* iPad用の背景画像 */
        height: 100%; /* 画像が画面の100%を覆うようにする */
        min-height: 0; /* 最小高さを解除する */
    }
    .topbar{
      width: 100%;
      height: 70px;
      background:rgba(16,174,185,0.5);
      position: fixed;
      top: 0%;
      display: flex;
      justify-content: space-between;
  }
  .right_button{
    border-radius: 100vh;
    padding: 10px 30px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none;
    margin-right: 20px;
    cursor: pointer;
  }
  .logo img{
    width: 80%;
    height: auto;
  }
  .main{
    margin-top: 100px;
    display: flex;
  }
  
  .left{
    width: 60%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .center{
    width: 600px;
    height: auto;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .right{
    width: 16%;
    height: auto;
    margin-bottom: 10px;
  }

  .article{
    display: flex;
    justify-content:  space-around;
    align-items: flex-start;
  }
  
  .red{
    width: 25%;
    height: 40dvw;
    margin-top: 0;
    min-height: 300px;
  }

  .red_title{
    margin-top: 1vw;
    text-align: center;
    font-size: 3vw;
    color: #E96565;
    font-weight: bold;
  }

  .red_check{
    width: 5px;
    height: 5px;
  }

  .red_description{
    font-size: 2.4vw;
    line-height: 2;
  }
  
  .green{
    width: 25%;
    height: 40dvw;
    min-height: 300px;
  }
  
  .blue{
    width: 25%;
    height: 40dvw;
    min-height: 300px;
  }
  
  .btn--orange,
a.btn--orange {
  color: #000;
  background-color: #F9FD2F;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #000;
  background: #F9FD2F;
}

a.btn--radius {
    border-radius: 100vh;
    padding: 10px 30px;
    margin-top: 10px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    
}
.copy{
  width: 100%;
}
.carousel{
  display: none;
}
}

@media only screen and (max-width: 390px) {
  .container {
      background-image:url(../images/sp_bg.png); /* iPad用の背景画像 */
      height: 100%; /* 画像が画面の100%を覆うようにする */
      min-height: 0; /* 最小高さを解除する */
  }
  .topbar{
    width: 100%;
    height: 50px;
    background:rgba(16,174,185,0.5);
    position: fixed;
    top: 0%;
}
.logo img{
  width: 200px;
  height: auto;
}
.right_button{
  display: none;
}
.main{
  margin-top: 80px;
  display: flex;
}

.left{
  width: 5%;
  height: 130px;
}

.center{
  width: 90%;
  height: 130px;
  text-align: center;
}

.right{
  width: 5%;
  height: 130px;
}

a.btn--radius {
display: none;
  
}

}
